body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.7);
}

.logo {
    font-family: 'Playfair Display', serif;
    color: #d4af37;
    font-size: 26px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.btn {
    background: #d4af37;
    padding: 10px 25px;
    color: black;
    text-decoration: none;
    border-radius: 25px;
}

section {
    padding: 80px 10%;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background: #d4af37;
    color: black;
}

.stats {
    display: flex;
    justify-content: space-around;
    background: #111;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: 0.4s ease;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.08);
}
.video-section video {
    width: 80%;
    border-radius: 10px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    padding: 15px;
    border-radius: 50%;
    color: white;
    text-decoration: none;

}
@media (max-width: 768px) {

    header {
        flex-direction: column;
        padding: 15px;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 10px;
        display: inline-block;
    }

    .hero h1 {
        font-size: 26px;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .video-section iframe {
        width: 100%;
        height: 220px;
    }
}
